body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
}

header {
    background: green;
    color: white;
    padding: 30px;
    text-align: center;
}

main {
    padding: 20px;
    font-size: 18px;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 10px;
}

